################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicStore.Data/bin/Debug
/MusicStore.Data/obj/Debug
/MusicStore.DTO/bin/Debug
/MusicStore.DTO/obj/Debug
