<div class="row" ng-controller="albumEditController">
    <div class="col-md-5">
        <form ng-show="isEditable()">
            <div class="form-group">
                <label for="album">Album title</label>
                <input name="album" type="text" class="form-control" placeholder="Enter album title" ng-model="edit.album.title">
            </div>
            <div class="form-group">
                <label for="description">Price</label>
                <input name="description" type="number" class="form-control" placeholder="Enter description" ng-model="edit.album.price">
            </div>
            <div class="form-group">
                <label for="album">Album art url</label>
                <input name="album" type="text" class="form-control" placeholder="Album art url" ng-model="edit.album.albumArtUrl">
            </div>
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>