<div class="row" ng-controller="genreEditController">
    <div class="col-md-5">
        <form ng-show="isEditable()">
            <div class="form-group">
                <label for="genre">Genre name</label>
                <input name="genre" type="text" class="form-control" placeholder="Enter genre name" ng-model="edit.genre.name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" type="text" class="form-control" placeholder="Enter description" ng-model="edit.genre.description"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>