<div ng-controller="albumListController">
    <h4>Albums</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Art</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="album in albums">
                <td>{{album.title}}</td>
                <td>{{album.price}}</td>
                <td><img ng-src="{{album.albumArtUrl}}"></td>
<td>
                    <a href="#/albums/details/{{album.albumId}}" class="btn btn-default btn-sm">Details</a>
                    <button class="btn btn-danger btn-sm" ng-click="delete(album)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <button class="btn btn-danger btn-sm" ng-click="create()">Add new album</button>
    <div ng-include="'/Assets/Templates/Albums/edit.html'"></div>

</div>

