<div ng-controller="genreListController">
    <h4>Genres</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Genre Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="genre in genres">
                <td>{{genre.name}}</td>
                <td>{{genre.description}}</td>
                <td>
                    <a href="#/genres/details/{{genre.genreId}}" class="btn btn-default btn-sm">Details</a>
                    <button class="btn btn-danger btn-sm" ng-click="delete(genre)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <button class="btn btn-danger btn-sm" ng-click="create()">Add new genre</button>
    <div ng-include="'/Assets/Templates/Genres/edit.html'"></div>

</div>

