<div class="row" ng-controller="EditController">
     <div class="col-md-5">
         <form ng-show="isEditable()">
             <div class="form-group">
                 <label for="Title">Title</label>
                 <input name="Title" type="text" class="form-control" placeholder="Enter title" ng-model="edit.music.Title">
             </div>
             <div class="form-group">
                 <label for="Singers">Singers</label>
                 <input name="Singers" type="text" class="form-control" placeholder="Enter Singers" ng-model="edit.music.Singers">
             </div>

             <div class="form-group">
                 <label for="ReleaseDate">Release Date</label>
                 <input name="ReleaseDate" type="text" class="form-control" placeholder="Enter Release Date" ng-model="edit.music.ReleaseDate">
             </div>

             <div class="form-group">
                 <label for="RunTime">RunTime</label>
                 <input name="RunTime" type="text" class="form-control" placeholder="Enter RunTime" ng-model="edit.music.RunTime">
             </div>
             <button class="btn btn-primary" ng-click="save()">Save</button>
             <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
         </form>
     </div>
 </div>