<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="../../Scripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Scripts/theMusic.js"></script>
    <script src="../Scripts/MusicListController.js"></script>
    <script src="../Scripts/DetailsController.js"></script>
    <script src="../Scripts/MusicService.js"></script>
    <script src="../Scripts/EditController.js"></script>
</head>
    <body ng-app="theMusic">
        <h2>Music store</h2>
        <div ng-view></div>
    </body>
</html>

